<header>
    <img
        src="assets/img/eu.jpg"
        alt="Zackson Wesner Rodriguez - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    
    />

    <h1>Zackson Wesner Rodriguez</h1>
</header>

<aside>
    <div class="container">
        <p>Frontend | Angular </p>
        <p>Campo Grande, Mato Grosso do Sul, Brasil</p>
        <p>
            Comecei a desenvolver automação em VBA para 
            facilitar meu dia a dia em tarefas repetitivas. 
            Enquanto aprendia a paixão aumentava e 
            a necessidade de aprender novas linguagens também.
            Atualmente estou focado em experienciar o Frontend.
        </p>


        <nav>
            <ul>
                <li>
                     <a 
                        href="assets/pdf/cv.pdf" 
                        target="_blank" 
                        class="btn btn-primary"
                    >
                        Download Cv
                     </a>
                </li>

                <li>
                    <a 
                       href="https://www.linkedin.com/in/zackson-wesner-rodriguez-3184ab22a/" 
                       target="_blank" 
                       class="btn btn-secondary"
                   >
                       LinkedIn
                    </a>
               </li>


            </ul>



        </nav>
    
    <section>
        <figure>
            <img
                src="assets/icons/whatsapp.svg"
                alt="ícone para contato do WhatsApp"
                width="22px"
                height="24px"
            />

            <figcaption>
                <a href="contato whatsapp"
                    target="_blank"
                >
                    <strong>Envie uma mensagem para:</strong>
                    <p> WhatsApp: (67) 9 9254-6855</p>
                </a>
            </figcaption>
        </figure>

        <figure>
            <img
                src="assets/icons/mail.svg"
                alt="ícone para contato do email"
                width="22px"
                height="24px"
            />

            <figcaption>
                <a href="maito:zackson.rodriguez@caixa.gov.br"
                    target="_blank"
                >
                    <strong>Envie um e-mail para:</strong>
                    <p> zackson.rodriguez&#64;caixa.gov.br</p>
                </a>
            </figcaption>
        </figure>
    </section>
    </div>

</aside>
