//paleta de cores
:root{

    --gradient-CEF: linear-gradient(to right,#015da9,#53baab) !important;
    //--primary: #2fbf71;
    --primary: #015da9;
    //--primary-010: #21804d;
    --primary-010: #1d6aa8;

    //--secondary: #06628a;
    --secondary: #53baab;
    //
    //--secondary-010: #06374e;
    --secondary-010: #7ab6ad;


    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;

}